extends ./shared/layout

append styles 
  link(href='/css/transaction.css' rel='stylesheet')
  link(href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' rel='stylesheet' media='screen')

block content
  .main-container
    .map-container
      div#map
    .transaction-container
      .page-header
        h3.transaction-header #{transaction.merchant.name} #[small #{transaction.displayDate}]
          span.transaction-header-amount #{transaction.displayAmount}   
      .transaction-details-container
        span.transaction
          span.img-logo 
            img(src=transaction.merchant.logo).img-rounded.img-logo
          span.transaction-category #{transaction.displayCategory} #[br] 
          span.transaction-fscategory #{transaction.merchant.metadata.foursquare_category}
        address #{transaction.merchant.address.formatted} #[br]
        .transaction-notes 
          span #{transaction.notes} 
        .transaction-website 
          a(href=transaction.merchant.metadata.foursquare_website) #{transaction.merchant.metadata.foursquare_website}

        .container.gallery-container
          .row
            .list-group.gallery
              each attachment in transaction.attachments
                .col-sm-4.col-xs-6.col-md-3.col-lg-3
                  a.thumbnail.fancybox(rel='ligthbox', href=attachment.url)
                    img.img-responsive(alt='', src=attachment.url)
              
append scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')

  script.
    if ($('.transaction-notes > span').html() == ''){
      $('.transaction-notes').hide()
    }

  script. 
      var map;
      var infowindow;

      function initMap() {
        var centre = {lat: #{transaction.merchant.address.latitude}, lng: #{transaction.merchant.address.longitude}};        
        map = new google.maps.Map(document.getElementById('map'), {
          center: centre,
          zoom: 17
        });

        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        // TODO: Refactor
        var place_id = '#{transaction.merchant.metadata.google_places_id}'; 
        if (place_id == '') { 
          var marker = new google.maps.Marker({
            map: map,
            label: '#{transaction.merchant.emoji}',
            position: {lat: #{transaction.merchant.address.latitude}, lng: #{transaction.merchant.address.longitude}}
          });
          google.maps.event.addListener(marker, 'click', function() {
            var pname = "#{transaction.merchant.name}";
            infowindow.setContent('<div><strong>' + pname + '</strong><br>' +
              'Amount: ' + '#{transaction.displayAmount}' + '<br/>' +
              '#{transaction.merchant.metadata.foursquare_category}' + '<br/>' +
              '<a href="#{transaction.merchant.metadata.foursquare_website}">#{transaction.merchant.metadata.foursquare_website}</a>' + 
              '</div>');
            infowindow.open(map, this);
          });
        } else {
          service.getDetails({
            placeId: '#{transaction.merchant.metadata.google_places_id}'
          }, function(place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
              var marker = new google.maps.Marker({
                map: map,
                label: '#{transaction.merchant.emoji}',
                position: place.geometry.location
              });
              google.maps.event.addListener(marker, 'click', function() {     
                var name = place.name;   
                infowindow.setContent('<div><strong>' + name + '</strong><br>' +
                  'Amount: ' + '#{transaction.displayAmount}' + '<br/>' +
                  '#{transaction.merchant.metadata.foursquare_category}' + '<br/>' +
                  '<a href="' + place.url + '">View on Google Maps</a>' + 
                  '</div>');
                infowindow.open(map, this);
              });
            }
          });
        }
      }
      
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcusw1j-6AajYdM2N3C64-vOvhYOprESw&libraries=places&callback=initMap")

  script.
    $(document).ready(function(){
        //FANCYBOX
        //https://github.com/fancyapps/fancyBox
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none", 
            type:"image"
        });
    });