extends ./shared/layout

append styles 
  link(href='/css/transactions.css', rel='stylesheet')

block content
  .table-container
    .balance-container.container-fluid
      .row
        span#current-balance Current Balance: #{balance}
        //.col-xs-6.col-sm-4.balance-item
          //.balance-display
            //span Current Balance: #{balance}
        //.col-xs-6.col-sm-4.balance-item
        //.clearfix.visible-xs-block
        //.col-xs-6.col-sm-4.balance-item
      
    hr
    h3 Transactions
    table.table.table-hover
      thead
        tr
          th Category
          th Date
          th Description
          th Amount
          th Balance
          th
      tbody
        each transaction in transactions
          tr
            td= transaction.categoryDisplayName
            td= transaction.displayDate
            td= transaction.description
            td= transaction.displayAmount
            td= transaction.displayBalance
            td 
              a(href='/transactions/' + transaction.id) a link
  
    nav.aria-label
      ul.pager
        li#previous.previous
          a(href="/transactions")
            span(aria-hidden="true") &larr; Newer
        li#next.next
          a(href="/transactions?" + older_query)  
            .span(aria-hidden="true") Older &rarr;
      
append scripts 
  script.
    var isBefore = $.urlParam('before'); 
    if (!isBefore) {
      $('#previous').addClass('disabled');
    }